.container {
  border: solid 2px #392eff;
  border-radius: 20px;
  padding: 8px;
  margin: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.titleStyle {
  margin: 0;
  color: #638d23;
}

.buttonStyle {
  background-color: #6ee493;
  border: none;
  padding: 8px;
  border-radius: 8px;
  &:hover {
    background-color: #3e9fb0;
    color: #fff;
    cursor: pointer;
  }
}
